<configuration>
<appSettings>
    <add key="NODE_ENV" value="production" />
  </appSettings>
  <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Content-Disposition" value="inline" />
            </customHeaders>
        </httpProtocol>    <handlers>
      <add name="iisnode" path="main.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NestJS" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="main.js" />
        </rule>
        </rules>
    </rewrite>

     <security>
      <requestFiltering>
                                <!-- Giới hạn kích thước file upload (2GB = 2147483648 bytes) -->
                <requestLimits maxAllowedContentLength="2147483648" />
            </requestFiltering>
    </security>
    
    <httpErrors existingResponse="PassThrough" />

  </system.webServer>
</configuration>